

.navbar {
  background-color: pink;
  padding: 10px;
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: center;
  gap: 20px; /* Add gap between buttons */
}

.navbar button {
  /* background-color: rgb(236, 222, 225);
  border: 1px solid #ccc; */
  background-color: pink;
  border:pink;
  padding: 10px 20px; 
  /* padding-right: 30px;   */
  
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.navbar button:hover {
  background-color: #f1f1f1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding-top: 60px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.image-container img {
  width: 1350px;
  height: 390px;
}

.swiper-container-wrapper {
  position: absolute;
  top: 400px;
  right: 0;
  width: 1350px;
  height: 200px;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 300px;
  height: 200px;
  object-fit: contain;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.text-overlay {
  position: absolute;
  top: 84%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 94px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.navbar-brand {
  color: white; 
  padding-right: 340px; /* Optional: Adjust left margin if needed */
}

.navbar {
  background-color: pink;
  position: fixed; /* Make the navbar fixed */
   top: 0;  
  width: 100%; /* Ensure it spans the full width */
  z-index: 1000; /* Ensure it is above other content */
 
}