
<div class="main-container">
    <div class="container">
     <div class="box">
       <div class="form">
         <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">,
           <p class="hp1"><i class="fa-solid fa-earth-americas"style="margin-right: 6px; margin-left: 20px;"></i>TravelBees</p>
          <p class="hp2">Create Admin Account</p>
          <p class="hp3">Let's get you started! Please enter your details.</p>
          <p class="hp4">OTP sent to Application Owner</p>
           
           <div>
             
             <input type="text" id="otpNumber" formControlName="otpNumber" placeholder="Enter OTP">
           </div>
    
           <p class="p1">When using TravelBees you accept our<br>
          <i style="color: rgb(219, 8, 141);"> Terms & Conditions</i > and <i style="color: rgb(219, 8, 141);">Privacy Policy</i></p>
           <button type="submit">SUBMIT</button>
           <!-- <p class="p2">Already have an account? <i style="color: rgb(219, 8, 141);">Log-in</i></p>
           -->
           <p class="p2">Already have an account? 
             <span style="color: rgb(219, 8, 141); cursor: pointer;" (click)="navigateToLogin()">Log in</span>
           </p>
         </form>
       </div>
       <div class="image">
         <img src="assets/Screenshot 2024-03-31 142018.png" alt="Image">
       </div>
     </div>
   </div>
 </div>
 